#resource-content {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: large;
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}

#rock {
    min-height: 300px;
    margin: 0 auto;
    max-height: 800px;
    border-radius: 15px;
}

li > a:hover {
    opacity: 0.5;
}

@media screen and (max-width: 650px) {
    #resource-content {
        height: 100%;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    #rock {
        height: auto;
        width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
    }

    footer {
        position: relative;
    }
}