.spartan-container {
    display: flex;
    justify-content: center;
    column-gap: 5vw;
    margin-top: 5vh;
}

.spartan-container-item {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    text-align: center;
}

h3 {
    margin: 0;
}

.student-image {
    border-radius: 15px;
}

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .spartan-container {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .spartan-container-item {
        width: 80%;
    }

    .student-image {
        width: 100%;
    }

    .container-item {
        width: 80%;
    }

    #spartan-statue {
        height: auto;
        width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }

    footer {
        position: relative;
    }
}