body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
}

h1 {
    font-family: msu;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: xxx-large;
}

nav {
    background-color: #18453B;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: large;
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}

@font-face {
    font-family: msu;
    src: url(NCAA\ Michigan\ St\ Spartans.otf);
}

footer {
    background-color: #18453B;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

#spartan-heart {
    height: 100%;
    margin: 0 auto;
}

.container-item {
    width: 40%;
}

#spartan-statue {
    min-height: 300px;
    margin: 0 auto;
    max-height: 800px;
    border-radius: 15px;
}

.photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

#head {
    color: white;
}

#learn {
    padding: 10px;
    background-color: #18453B;
    color: white;
}

.link {
    padding: 10px;
    background-color: #18453B;
    color: white;
}

.section {
    margin-top: 40px;
    margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .container-item {
        width: 80%;
    }

    #spartan-statue {
        height: auto;
        width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
    }

    footer {
        position: relative;
    }
}